.wbdv-sticky-nav-bar{
    background-color: #393433;
    color: white;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 1;

}

/* container-fluid in renderer causes the page html to be shifted to the right slightly */
.editor-shift-left {
    margin-left:-15px;
}

.nav-text-color {
    color:grey;

}

.wbdv-padding-top {
    padding-top:60px;
}

.nav-tabs {
    border-bottom:none;
}

.left-bar {
    background-color:#2a2a2a;
    width: 100%;
    padding:20px;
    min-height:100vh;
    }

.list-group-item {
    background:dimgrey;
    margin:5px;
}

.list-add-item {
    padding:.75rem 1rem;
    position:relative;
}

.pill-style {
    margin:5px;
    background-color:grey;
}

.active-tab {
    background-color:#2a2a2a;

}


.nav-tabs .nav-link.active {
    background-color: dodgerblue;
    color: white;
    border:1px solid #5d3d48;
    
}


.padding-left-10px {
    padding-left:10px;
}

.nav-item {
    border: 1px solid #5d3d48;
}